<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
</head>
<body>
    <h1>About-Page</h1>
    <a href="/">Go to Home</a>
    <h2>Subscribe to my Newsletter and learn how you can be cool like me!!!!!!!</h2>
    <form action="/subscribe" method="POST">
        <input type="text" name="name" placeholder="Enter Your Full Name" required><br><br>
        <input type="email" name="email" placeholder="Enter Your Email" required><br><br>
        <button type="submit">Subscribe</button>
    </form>
</body>
</body>
</html>
